/**
 * Form Module
 * Namespace : .form
 */


/* ----------------------------------------------------------- */
/* == configuration */
/* ----------------------------------------------------------- */


@input-border-radius     : 0px;
@input-border            : 1px solid #d8d8d8;
@input-backgroud-color   : #fff;
@input-hover             : 5%;
@input-error-color       : #efd8d7;
@input-placeholder-color : #c4c1be;


/* ----------------------------------------------------------- */
/* == module */
/* ----------------------------------------------------------- */

/* placeholders
-------------------------------------------------------------- */

input::-webkit-input-placeholder {
  color: @input-placeholder-color;
}
input:-moz-placeholder {
  color: @input-placeholder-color;
}
textarea::-webkit-input-placeholder {
  color: @input-placeholder-color;
}
textarea:-moz-placeholder {
  color: @input-placeholder-color;
}

/* block form
-------------------------------------------------------------- */

label,
.label {
  display: block;
  margin-top: 1.3em;
  margin-bottom: .8em;
  vertical-align: middle;
  cursor: pointer;
}

/* inline form
-------------------------------------------------------------- */

.f-inline label,
.f-inline .label {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
}

.f-inline {
  display: inline-block;
}

.f-inline input,
.f-inline .btn {
  height: 40px;
}

.f-inline .btn {
  vertical-align: middle;
}


/* basics style
-------------------------------------------------------------- */

fieldset {
  margin: 25px 0;
  padding: 1em;
  border: 1px solid #d8d8d8;
}

input,
select,
label,
.label {
  vertical-align: middle;
}

select {
  margin: 0;
  border: 1px solid #ccc;
  background-color: #fff;
}

textarea {
  padding: .4em;
  min-width: 320px;
  min-height: 8em;
  vertical-align: top;
  resize: vertical;
}

input {
  margin: 0;
  padding: .6em .6em;
  width: 320px;
  border: @input-border;
  border-radius: @input-border-radius;
  background: @input-backgroud-color;
  box-shadow: inset 0 1px 3px #f6f6f6;
}

input[type="radio"] + label,
input[type="checkbox"] + label {
  display: inline-block;
  margin-right: 10px;
  vertical-align: baseline;
}

input[type="radio"],
input[type="checkbox"] {
  padding: 0;
  width: inherit;
}

/* grid (grid module is required)
-------------------------------------------------------------- */

[class^="grid"] > input,
[class^="grid"] > textarea,
[class^="grid"] > div > input,
[class^="grid"] > div > textarea {
  width: 100%;
}

/* width
-------------------------------------------------------------- */

.f-10 {
  min-width: 80px;
  width: 10%;
}

.f-25 {
  width: 25%;
}

.f-50 {
  width: 50%;
}

.f-75 {
  width: 75%;
}

.f-100 {
  width: 100%;
}


/* errors
-------------------------------------------------------------- */

.f-required {
  color: red;
  font-weight: bold;
}

.f-error {
  margin-top: 20px;
  padding: 5px 10px;
  border-left: 5px solid @input-error-color;
  background-color: lighten(@input-error-color, 8%);
}

.f-error input {
  border: 1px solid red;
}

.f-error-message {
  padding-top: 4px;
  color: darken(@input-error-color, 20%);
}
