/* ----------------------------- */
/* == layout */
/* ----------------------------- */

html,
body {
  height: 100%;
  background-color: @bg-color;
}

.container {
  margin-right: auto;
  margin-left: auto;
  max-width: 960px;
  color: @dark-text;
}


/* header
-------------------------------------------------------------- */



/* navigation
-------------------------------------------------------------- */

.navigation {
  margin: 10px 0;
}

.navigation ul {
  padding-left: 0;
}

.navigation li {
  display: inline-block;
  margin: 10px 0;
}

.navigation li a {
  padding: 10px 5px;
  background-color: @primary-color;
}

/* content
-------------------------------------------------------------- */

.content {

}

/* footer
-------------------------------------------------------------- */

.footer {
  padding: 10px;
  background-color: @secondary-color;
  text-align: center;
}