/* ----------------------------------------------------------- */
/* == layout */
/* ----------------------------------------------------------- */

html,
body {
  height: 100%;
  background-color: @bg-color;
  font-family: @fontstack1;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding: 0 10px;
  max-width: 960px;
  color: @dark-text;
}


/* header
-------------------------------------------------------------- */



/* navigation
-------------------------------------------------------------- */

.navigation li {
  display: inline-block;
  margin: 10px 0;
}

.navigation li a {
  padding: 10px 5px;
  background-color: @primary-color;
}

/* content
-------------------------------------------------------------- */

.content {

}

/* footer
-------------------------------------------------------------- */

.footer {


}