/* ----------------------------- */
/* ==custom fonts */
/* ----------------------------- */

/* ----------------------------- */
/* ==texts */
/* ----------------------------- */

/* ----------------------------- */
/* ==titles */
/* ----------------------------- */

.main-content h1 {
  color: @primary-color;
}

.main-content h2 {
  color: @secondary-color;
}

.main-content h3 {
  color: @tertiary-color;
}

/* ----------------------------- */
/* ==links */
/* ----------------------------- */

a,
a:hover,
a:visited {
  text-decoration: none;
}

.main-header a,
.main-header a:visited {
  color: @light-text;
}

.main-header a:hover {
  color: lighten(@primary-color, 30%);
}

.main-footer a,
.main-footer a:visited {
  color: @light-text;
}

.main-footer a:hover {
  color: lighten(@primary-color, 30%);
}

/* ----------------------------- */
/* ==lists */
/* ----------------------------- */

li:not(.main-content li) {
  list-style-type: none;
}