/* ----------------------------------------------------------- */
/* == main */
/* ----------------------------------------------------------- */


/* texts
-------------------------------------------------------------- */

/* titles
-------------------------------------------------------------- */


/* links
-------------------------------------------------------------- */

a,
a:hover,
a:visited {
  text-decoration: none;
}

a,
a:visited {
  color: @secondary-color;
}

.header a,
.header a:visited {
  color: @light-text;
}

.footer a,
.footer a:visited {
  color: @light-text;
}

/* lists
-------------------------------------------------------------- */

li:not(.content li) {
  list-style-type: none;
}