/* ----------------------------- */
/* == main */
/* ----------------------------- */


/* texts
-------------------------------------------------------------- */

/* titles
-------------------------------------------------------------- */

.content h1 { .flow(40); }
.content h2 { .flow(30); }
.content h3 { .flow(20); }


/* links
-------------------------------------------------------------- */

a,
a:hover,
a:visited {
  text-decoration: none;
}

.header a,
.header a:visited {
  color: @light-text;
}

.footer a,
.footer a:visited {
  color: @light-text;
}


/* lists
-------------------------------------------------------------- */

li:not(.content li) {
  list-style-type: none;
}