// -------------------------------------------------------------
// colors
// --------------------------------------------------------------

$color-1: #3498db;
$color-2: #1abc9c;
$color-3: #34495e;
$color-4: #d0dada;
$color-info: #2185d0;
$color-red: #de350b;
$color-green: $color-2;
$color-yellow: #ffdd57;

// -------------------------------------------------------------
// text
// -------------------------------------------------------------

$color-light-text: #fcfcfc;
$color-dark-text: #000;

// -------------------------------------------------------------
// links
// -------------------------------------------------------------

$color-link: $color-1;

// -------------------------------------------------------------
// brands
// -------------------------------------------------------------

$color-twitter: #55acee;
$color-facebook: #3b5998;
$color-google: #dd4b39;
$color-youtube: #e52d27;
$color-pinterest: #cc2127;
$color-vimeo: #1ab7ea;
$color-linkedin: #0976b4;
$color-instagram: #3f729b;
