// --------------------------------------------------------------
// config
// --------------------------------------------------------------

// -------------------------------------------------------------
// base
// -------------------------------------------------------------

$base-font: 14; // px value (without unit), will be converted in em
$line-height: 1.5;
$fontstack1: system-ui, -apple-system, blinkmacsystemfont, "Segoe UI", roboto, oxygen-sans, ubuntu, cantarell, "Helvetica Neue", sans-serif;
$fontstack2: "Georgia", "Times", "Times New Roman", serif;

// -------------------------------------------------------------
// spacers
// -------------------------------------------------------------

$spacing-rules: (
  (mt, margin-top, (1, 2, 3, 4, 5)), // generates mt1, mt2...
  (mr, margin-right, (0.5, 1, 2, 3)), // generates mr05, mr1...
  (mb, margin-bottom, (1, 2, 3, 4, 5)),
  (ml, margin-left, (0.5, 1, 2, 3)),
  (pt, padding-top, (1, 2, 3, 4, 5)),
  (pr, padding-right, (0.5, 1, 2, 3)),
  (pb, padding-bottom, (1, 2, 3, 4, 5)),
  (pl, padding-left, (0.5, 1, 2, 3)),
);

// -------------------------------------------------------------
// responsive
// -------------------------------------------------------------

$xsmall: 480px;
$small: 768px;
$medium: 960px;
$large: 1280px;

// -------------------------------------------------------------
// grids
// -------------------------------------------------------------

$default-gutter: 2rem;

// -------------------------------------------------------------
// others
// -------------------------------------------------------------

$focus-ring: 0 0 0 0.3rem rgba($color-info, 0.5);
