@use "sass:color";
@use "sass:map";

// --------------------------------------------------------------
// config
// --------------------------------------------------------------

// -------------------------------------------------------------
// base
// -------------------------------------------------------------

$base-font: 16; // px value (without unit), will be converted in em
$line-height: 1.5;
$fontstack1: "Inter", -apple-system, blinkmacsystemfont, "Segoe UI", roboto, helvetica, arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$fontstack2: "Georgia", "Times", "Times New Roman", serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

// ℹ️ Emoji fonts are explicitely declared at the fontstacks end to be sure to be displayed correctely on every platforms. https://answers.microsoft.com/en-us/windows/forum/all/flag-emoji/85b163bc-786a-4918-9042-763ccf4b6c05

// -------------------------------------------------------------
// container
// -------------------------------------------------------------

$container-base: 120rem;
$container-small: 55rem;

// -------------------------------------------------------------
// responsive
// -------------------------------------------------------------

$breakpoints: (
  sm: 480px,
  md: 769px,
  lg: 1000px,
);
$small: map.get($breakpoints, sm);
$medium: map.get($breakpoints, md);
$large: map.get($breakpoints, lg);
$small-label: "sm";
$medium-label: "md";
$large-label: "lg";

// -------------------------------------------------------------
// grids
// -------------------------------------------------------------

$gap: 3rem;

// -------------------------------------------------------------
// others
// -------------------------------------------------------------

$focus-ring: 0 0 0 0.3rem color.change(#3498db, $alpha: 0.7);
