// -------------------------------------------------------------
// layout
// -------------------------------------------------------------

.container {
  width: 100%;
  max-width: $container-base;
  margin-inline: auto;
  padding-inline: 1rem;
}

.container--small {
  max-width: $container-small;
}
