// -------------------------------------------------------------
// footer
// -------------------------------------------------------------

.footer {
  border-top: 0.2rem dotted $color-4;
  margin-top: 5rem;
  padding-block: 3rem;
}
