// -------------------------------------------------------------
// Radiobox Module
// -------------------------------------------------------------

.radiobox {
  display: inline-flex;
  width: 100%;
  max-width: 32rem;
  padding: 0.2rem;
  border: $input-border;
  border-radius: $input-border-radius;
}

.radiobox--full {
  width: 100%;
  max-width: 100%;
}

.radiobox input {
  position: absolute;
  left: -9999rem;
}

.radiobox input + label {
  display: flex;
  width: 50%;
  min-height: 4rem;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  padding: 1rem 1.8rem;
  margin: 0;
  border-radius: calc($input-border-radius - 0.1rem);
  font-weight: normal;
  text-align: center;
  transition: all 0.05s ease-in;
}

// Checked state
.radiobox input:checked + label {
  background-color: $color-1;
  color: #fff;
}

// Focus state
.radiobox input:focus + label {
  box-shadow: $focus-ring;
}

.radiobox:active,
.radiobox:focus-within {
  box-shadow: $focus-ring;
}

.radiobox:focus-within input:focus + label {
  box-shadow: none;
}

// Error state
.f-error .radiobox {
  border-color: $input-error;
}
