@use "sass:color";

// Table Module
// namespace : .table

// -------------------------------------------------------------
// module
// -------------------------------------------------------------

.table {
  width: 100%;
  max-width: 100%;
  border: 0.1rem solid $color-4;
  border-collapse: collapse /* remove spacing between table cells */;
  border-spacing: 0;
  color: $color-dark-text;
  table-layout: fixed /* http://css-tricks.com/fixing-tables-long-strings */;
}

.table caption {
  padding: 1em 0;
  color: $color-dark-text;
  font: italic 85%/1 $fontstack1;
  text-align: center;
}

.table thead {
  background: #e0e0e0;
  color: $color-dark-text;
  text-align: left;
  vertical-align: bottom;
}

.table td,
.table th {
  overflow: hidden;
  padding: 1rem;
  border-width: 0;
  border-bottom: 0.1rem solid $color-4;
  margin: 0;
  font-size: inherit;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: break-word;
}

.table th {
  padding-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-weight: 600;
}

.table :is(td, th):first-child {
  padding-left: 2rem;
}

.table :is(td, th):last-child {
  padding-right: 2rem;
}

.table--invisible,
.table--invisible :is(td, th):nth-child(n) { // nth-child(n) is used to keep a increasing specificity for this special table style
  border-bottom: none;
}
