/* ----------------------------- */
/* == config */
/* ----------------------------- */

/* base
-------------------------------------------------------------- */

@base-font       : 14px;
@line-height     : 1.5;
@bg-color        : #fff;

@fontstack1      : "Helvetica Neue", Helvetica, Arial, sans-serif;
@fontstack2      : Georgia, Times, "Times New Roman", serif;

/* colors
-------------------------------------------------------------- */

@primary-color: #002f2f;
@secondary-color: #046380;
@tertiary-color: #a7a37e;
@quaternary-color: #e6e2af;

/* links
-------------------------------------------------------------- */

@link: @primary-color;
@link-hover : lighten(@link, 10%);

/* texts
-------------------------------------------------------------- */

@light-text: #fcfcfc;
@dark-text: #2e2e2e;

/* responsive
-------------------------------------------------------------- */
@tinyscreen             : 480px;
@smallscreen            : 768px;
@largescreen			: 1280px;

/* buttons
-------------------------------------------------------------- */

@btn-primary: @primary-color;
@btn-secondary: @secondary-color;
@btn-danger: #ca3838;
@btn-infos: #4a4d50;
@btn-default: #f2f2f2;

/* alerts
-------------------------------------------------------------- */

@default-color : #f2f2f2;
@info-color    : #4a4d50;
@success-color : #58c026;
@warning-color : #f6b83f;
@danger-color  : #ca3838;

