/* ----------------------------------------------------------- */
/* == config */
/* ----------------------------------------------------------- */

/* base
-------------------------------------------------------------- */

@base-font       : 14px;
@line-height     : 1.5;
@bg-color        : #fff;

@fontstack1      : "Helvetica Neue", Helvetica, Arial, sans-serif;
@fontstack2      : Georgia, Times, "Times New Roman", serif;

/* responsive
-------------------------------------------------------------- */

@smartphone      : 480px;
@tablet          : 768px;
@desktop		 : 1280px;


/* grids
-------------------------------------------------------------- */

@gutter         : 2;
@smallscreen    : @smartphone;
@margin-bottom  : 2%;
