node_modules

# env
.env
.npm
.babel.json
.cache
.composer
.config
.node-gyp
.bash_history
.v8flag*

# OS
/.idea
/.vscode
.DS_Store
._*
Thumbs.db
.cache
.project
.settings
.tmproj
*.esproj
nbproject
*.sublime-project
*.sublime-workspace
*.swp
*~
