// -------------------------------------------------------------
// footer
// -------------------------------------------------------------

.footer {
  padding: 2rem 0;
}

.footer ul,
.footer li {
  padding: 0;
  margin: 0;
}

.footer a,
.footer a:hover,
.footer a:visited {
  color: $color-link;
}
