<div class="liseret"></div>
<header class="header">
    <div class="container">
        <div class="row">

            <div class="col w40 vmiddle">
                <a class="site-title" href="/">{{ site.title }}</a>
            </div>
            <div class="col w60 vmiddle txtright">
                <nav class="navigation">
                    <ul>
                        <li><a href="{{/docs| prepend: site.baseurl }}">Documentation</a></li>
                        <li><a href="/demo">Demo</a></li>
                        <li><a href="/demo">Conventions</a></li>
                        <li><a href="https://github.com/robinparisi/higgcss/archive/master.zip">Télécharger</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>
