/* ----------------------------- */
/* == buttons                     */
/* ----------------------------- */

/* configuration
-------------------------------------------------------------- */

@btn-primary:       @primary-color;
@btn-secondary:     @secondary-color;
@btn-success:       #1cb841;
@btn-danger:        #c53a3a;

@btn-hover:         5%;
@btn-radius:        4px;

/* base
-------------------------------------------------------------- */

.btn,
button,
input[type='submit'] {
  display: inline-block;
  padding: 0.9em 2em;
  border: none;
  border-radius: @btn-radius;
  vertical-align: baseline;
  text-align: center;
  text-decoration: none !important;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .15);
  line-height: normal;
  cursor: pointer;
  transition: background-color .4s;
}


/* colors
-------------------------------------------------------------- */

.btn-primary {
  background-color: @primary-color;
  .setColor(@primary-color);
}

.btn-primary:hover {
  background-color: darken(@primary-color, @btn-hover);
}

.btn-secondary {
  background-color: @secondary-color;
  .setColor(@secondary-color);
}

.btn-secondary:hover {
  background-color: darken(@secondary-color, @btn-hover);
}

.btn-success {
  background-color: @success-color;
  .setColor(@success-color);
}

.btn-success:hover {
  background-color: darken(@success-color, @btn-hover);
}

.btn-danger {
  background-color: @danger-color;
  .setColor(@danger-color);
}

.btn-danger:hover {
  background-color: darken(@danger-color, @btn-hover);
}



