/* ----------------------------------------------------------- */
/* == form */
/* ----------------------------------------------------------- */

/* configuration
-------------------------------------------------------------- */

@input-border-radius   : 2px;
@input-border          : 1px solid #D8D8D8;
@input-backgroud-color : #fff;
@input-hover           : 5%;
@input-error-color     : #efd8d7;

/* module
-------------------------------------------------------------- */

.placeholder(#c4c1be);

fieldset {
  padding: 1em;
  border: 1px solid #D8D8D8;
}

input,
button,
select,
label,
.label,
.btn{
  vertical-align: middle;
  font-size: inherit;
  font-family: inherit;
}

label,
.label {
  display: block;
  margin: 15px 0 10px 0;
  vertical-align: middle;
}

input[type='text'],
input[type='password'],
input[type='number'],
input[type='mail'],
textarea {
  padding: .5em .6em;
  border: @input-border;
  border-radius: @input-border-radius;
  background: @input-backgroud-color;
}

input[type='radio'] + label,
input[type='checkbox'] + label {
  display: inline-block;
  padding: 0 10px 0 5px;
  width: auto;
  vertical-align: baseline;
  text-align: left;
}

/* grid
-------------------------------------------------------------- */

[class^="grid"] input[type='text'],
[class^="grid"] input[type='password'],
[class^="grid"] input[type='number'],
[class^="grid"] input[type='mail'],
[class^="grid"] textarea {
  width: 100%;
}

/* errors
-------------------------------------------------------------- */

.required {
  color: red;
  font-weight: bold;
}

.ferror {
  padding: 8px;
  border: 1px solid @input-error-color;
  background-color: lighten(@input-error-color, 8%);
}

.ferror-message {
  padding-top: 4px;
  color: darken(@input-error-color, 20%);
}

