// -------------------------------------------------------------
// helpers
// -------------------------------------------------------------

/* screen readers
-------------------------------------------------------------- */

/* Hide only visually, but have it available for screen readers (from HTML5 Boilerplate) */

.visually-hidden {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  margin: -1px;
  clip: rect(0 0 0 0);
}

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  position: static;
  overflow: visible;
  width: auto;
  height: auto;
  margin: 0;
  clip: auto;
}
