@use "sass:math";

// -------------------------------------------------------------
// debug
// -------------------------------------------------------------

/*
 * Generates a random color
 *
 */

@mixin random-color {
  $red: math.round(math.random() * 222);
  $green: math.round(math.random() * 222);
  $blue: math.round(math.random() * 222);
}

/*
 * Easily debug an element
 *
 */

@mixin debug() {
  @include random-color;

  border: 0.3rem dotted rgb($red, $green, $blue);
  background-color: rgba($red, $green, $blue, 30%);
}

/*
 * Display grid for vertical rhythm
 *
 */

@mixin debug-rythm($bh: $line-height) {
  background: linear-gradient(to bottom, #ba9b9a 0.1em, transparent 0.1em) !important;
  background-size: 100% ($bh + em) !important;
}

.debug-rythm {
  @include debug-rythm;
}
