// -------------------------------------------------------------
// colors
// -------------------------------------------------------------

.color-1 { color: $color-1; }
.color-2 { color: $color-2; }
.color-3 { color: $color-3; }

.color-red { color: $color-red; }
.color-green { color: $color-green; }
