// --------------------------------------------------------------
// == mixins */
// --------------------------------------------------------------

.flow(@font-size, @bf: @base-font, @lh: @line-height) {
  margin-bottom: unit(@margin-bottom, em);
  /*font-size: unit(@font-size / @bf, em);*/
  font-size: unit(@font-size/10, rem);
  line-height: @new-lh;

  @lh-value: @base-font * @lh;
  @coeff: ceil(@font-size / @lh-value);
  @new-lh: (@lh-value / @font-size) * @coeff;
  @margin-bottom: @new-lh / @coeff;
}
