html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
}

img,
table,
td,
blockquote,
code,
pre,
textarea,
input,
video,
svg {
  max-width: 100%;
}

img {
  height: auto;
  vertical-align: middle;
  border-style: none;
}

/* fix input no style on Safari */
input[type='search'] {
  -webkit-appearance: textfield;
  appearance: textfield;
}

button,
input,
select,
textarea {
  font: inherit;
}

html {
  font-size: 62.5%;
  font-size: calc(1em * 0.625);
}

body {
  font-size: 1.4em;
  line-height: 1.5;
}

p,
ul,
ol,
dl,
blockquote,
pre,
td,
th,
label,
textarea,
caption {
  margin: 0 0 1.5em 0;
}

/* screen readers
-------------------------------------------------------------- */
/* Hide only visually, but have it available for screen readers (from HTML5 Boilerplate) */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}

.mod {
  overflow: hidden;
}

.clear,
.line,
.row {
  clear: both;
}

.clearfix::after,
.line::after,
.mod::after {
  display: table;
  clear: both;
  content: '';
}

.inbl {
  display: inline-block;
}

.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
}

.grid > * {
  display: block;
  /* IE fix */
  flex: 0 0 auto;
}

/* vertical align
-------------------------------------------------------------- */
[class*='grid-top'] {
  align-items: flex-start;
}

[class*='grid-bottom'] {
  align-items: flex-end;
}

[class*='grid-center'] {
  align-items: center;
}

/* helpers
-------------------------------------------------------------- */
[class*='grid-'].grid-noMargin > * {
  margin-bottom: 0;
}

.responsive-iframe {
  position: relative;
  height: 0;
  padding-top: 3rem;
  padding-bottom: 56.25%;
  overflow: hidden;
}

.responsive-iframe iframe,
.responsive-iframe object,
.responsive-iframe embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* utilities
-------------------------------------------------------------- */
.hidden {
  display: none;
}

@media (min-width: 1281px) {
  [class*='-l+'][class*='hidden-']:not([class*='up']) {
    display: none !important;
  }
}

@media (min-width: 961px) and (max-width: 1280px) {
  [class*='-l'][class*='hidden-']:not([class*='up']) {
    display: none !important;
  }
}

@media (min-width: 769px) and (max-width: 960px) {
  [class*='-m'][class*='hidden-']:not([class*='up']) {
    display: none !important;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  [class*='-s'][class*='hidden-']:not([class*='up']) {
    display: none !important;
  }
}

@media (max-width: 480px) {
  [class*='-xs'][class*='hidden-']:not([class*='up']) {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .hidden-s-up {
    display: none !important;
  }
}

@media (min-width: 480px) {
  .hidden-xs-up {
    display: none !important;
  }
}

/* xsmall
-------------------------------------------------------------- */
@media (max-width: 480px) {
  .mod {
    display: block !important;
    float: none !important;
    width: auto !important;
  }
}

/*
 * Generates a random color
 *
 */
/*
 * Easily debug an element
 *
 */
/*
 * Display grid for vertical rhythm
 *
 */
.debug-rythm {
  background: linear-gradient(to bottom, #ba9b9a 0.1em, transparent 0.1em) !important;
  background-size: 100% 1.5em !important;
}

/* block
-------------------------------------------------------------- */
.left {
  float: left;
}

.right {
  float: right;
}

.center {
  margin-right: auto;
  margin-left: auto;
}

/* text/inline
-------------------------------------------------------------- */
.txtright {
  text-align: right;
}

.txtcenter {
  text-align: center;
}

.txtleft {
  text-align: left;
}

.vtop {
  vertical-align: top;
}

.vbottom {
  vertical-align: bottom;
}

.vmiddle {
  vertical-align: middle;
}

.color-primary {
  color: #3498db;
}

.color-secondary {
  color: #1abc9c;
}

.mt1 {
  margin-top: 1rem;
}

.mt2 {
  margin-top: 2rem;
}

.mt3 {
  margin-top: 3rem;
}

.mt4 {
  margin-top: 4rem;
}

.mt5 {
  margin-top: 5rem;
}

.mr05 {
  margin-right: 0.5rem;
}

.mr1 {
  margin-right: 1rem;
}

.mr2 {
  margin-right: 2rem;
}

.mr3 {
  margin-right: 3rem;
}

.mb1 {
  margin-bottom: 1rem;
}

.mb2 {
  margin-bottom: 2rem;
}

.mb3 {
  margin-bottom: 3rem;
}

.mb4 {
  margin-bottom: 4rem;
}

.mb5 {
  margin-bottom: 5rem;
}

.ml05 {
  margin-left: 0.5rem;
}

.ml1 {
  margin-left: 1rem;
}

.ml2 {
  margin-left: 2rem;
}

.ml3 {
  margin-left: 3rem;
}

.pt1 {
  padding-top: 1rem;
}

.pt2 {
  padding-top: 2rem;
}

.pt3 {
  padding-top: 3rem;
}

.pt4 {
  padding-top: 4rem;
}

.pt5 {
  padding-top: 5rem;
}

.pr05 {
  padding-right: 0.5rem;
}

.pr1 {
  padding-right: 1rem;
}

.pr2 {
  padding-right: 2rem;
}

.pr3 {
  padding-right: 3rem;
}

.pb1 {
  padding-bottom: 1rem;
}

.pb2 {
  padding-bottom: 2rem;
}

.pb3 {
  padding-bottom: 3rem;
}

.pb4 {
  padding-bottom: 4rem;
}

.pb5 {
  padding-bottom: 5rem;
}

.pl05 {
  padding-left: 0.5rem;
}

.pl1 {
  padding-left: 1rem;
}

.pl2 {
  padding-left: 2rem;
}

.pl3 {
  padding-left: 3rem;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

/* font size
-------------------------------------------------------------- */
.txtsmaller {
  margin-bottom: 2.1em;
  font-size: 1rem;
  line-height: 2.1;
}

.txtsmall {
  margin-bottom: 1.75em;
  font-size: 1.2rem;
  line-height: 1.75;
}

.txtbig {
  margin-bottom: 1.3125em;
  font-size: 1.6rem;
  line-height: 1.3125;
}

.txtbigger {
  margin-bottom: 1.16667em;
  font-size: 1.8rem;
  line-height: 1.16667;
}

/* transformations
-------------------------------------------------------------- */
.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

.lowercase {
  text-transform: lowercase;
}

.w10 {
  width: 10%;
}

.w20 {
  width: 20%;
}

.w25 {
  width: 25%;
}

.w30 {
  width: 30%;
}

.w33 {
  width: 33.3333%;
}

.w40 {
  width: 40%;
}

.w50 {
  width: 50%;
}

.w60 {
  width: 60%;
}

.w66 {
  width: 66.6666%;
}

.w70 {
  width: 70%;
}

.w75 {
  width: 75%;
}

.w80 {
  width: 80%;
}

.w90 {
  width: 90%;
}

.w100 {
  width: 100%;
}

/**
 * Form Module
 * Namespace : .form
 */
/* basics style
-------------------------------------------------------------- */
fieldset {
  margin: 2.5rem 0;
  padding: 1em;
  border: 0.1rem solid #d8d8d8;
}

input,
select,
label,
.label {
  vertical-align: middle;
}

select {
  margin: 0;
  background-color: #fff;
  border: 0.1rem solid #ccc;
}

textarea {
  min-width: 32rem;
  min-height: 8em;
  padding: 0.4em;
  vertical-align: top;
  resize: vertical;
}

input {
  width: 100%;
  max-width: 32rem;
  padding: 0.8em;
  background: #fff;
  border: 0.1rem solid #d8d8d8;
  border-radius: 0.4rem;
  box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.08);
}

input[type='radio'],
input[type='checkbox'] {
  width: inherit;
  padding: 0;
}

/* placeholders
-------------------------------------------------------------- */
input::-webkit-input-placeholder {
  color: #c4c1be;
}

input:-moz-placeholder {
  color: #c4c1be;
}

textarea::-webkit-input-placeholder {
  color: #c4c1be;
}

textarea:-moz-placeholder {
  color: #c4c1be;
}

/* state
-------------------------------------------------------------- */
textarea:active,
textarea:focus,
select:active,
select:focus,
input:active,
input:focus {
  outline: none;
  box-shadow: 0 0 0 0.3rem rgba(33, 133, 208, 0.5);
}

/* block form
-------------------------------------------------------------- */
label,
.label {
  display: block;
  margin-top: 1.3em;
  margin-bottom: 0.8em;
  vertical-align: middle;
  cursor: pointer;
}

.f-inline label,
.f-inline .label {
  display: inline-block;
  margin: 0 1rem;
}

input[type='radio'] + label,
input[type='checkbox'] + label {
  display: inline-block;
  margin-right: 1rem;
  vertical-align: baseline;
}

/* inline form
-------------------------------------------------------------- */
.f-inline {
  display: inline-block;
}

.f-inline input,
.f-inline .btn {
  height: 4rem;
}

.f-inline .btn {
  vertical-align: middle;
}

/* autogrid
-------------------------------------------------------------- */
[class^='f-grid'] {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-end;
}

[class^='f-grid'] > * {
  display: flex;
  flex: 1 0 0;
  flex-direction: column;
  margin-left: 2rem;
}

[class^='f-grid'] > *:first-child {
  margin-left: 0;
}

[class^='f-grid'] input {
  max-width: 100%;
}

/* size
-------------------------------------------------------------- */
.f-size-1 {
  max-width: 10rem;
}

.f-size-2 {
  max-width: 20rem;
}

.f-size-3 {
  max-width: 30rem;
}

.f-size-4 {
  max-width: 40rem;
}

.f-size-5 {
  max-width: 50rem;
}

.f-size-full {
  max-width: 100%;
}

/* errors
-------------------------------------------------------------- */
.f-required {
  color: #ff3860;
  font-weight: bold;
}

.f-error input {
  margin-bottom: 0.8rem;
  border: 0.1rem solid #ff3860;
}

.f-error-message {
  color: #ff3860;
}

/**
  * Switch Module
  * Namespace: .switch
  */
.switch[type='checkbox'] {
  position: relative;
  width: 4rem;
  height: 2rem;
  margin-top: -0.05em;
  background-color: #fff;
  border: 0.1rem solid #d8d8d8;
  border-radius: 42rem;
  outline: none;
  box-shadow: inset -2rem 0 0 0.1rem rgba(192, 192, 192, 0.5);
  transition: 0.2s;
  -webkit-appearance: none;
  appearance: none;
}

.switch[type='checkbox']::-ms-check {
  opacity: 0;
  filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
}

/* Checked state
-------------------------------------------------------------- */
.switch[type='checkbox']:checked {
  border-color: #3498db;
  box-shadow: inset 2rem 0 0 0.1rem rgba(52, 152, 219, 0.7);
}

/* Focus state
-------------------------------------------------------------- */
.switch[type='checkbox']:active,
.switch[type='checkbox']:focus {
  box-shadow: inset -2rem 0 0 0.1rem rgba(192, 192, 192, 0.5), 0 0 0 0.3rem rgba(33, 133, 208, 0.5);
}

.switch[type='checkbox']:checked:active,
.switch[type='checkbox']:checked:focus {
  box-shadow: inset 2rem 0 0 0.1rem rgba(52, 152, 219, 0.7), 0 0 0 0.3rem rgba(33, 133, 208, 0.5);
}

/**
 * Radiobox Module
 * Namespace : .radiobox
 */
.radiobox {
  display: inline-flex;
  width: 100%;
  max-width: 32rem;
  padding: 0.2rem;
  border: 0.1rem solid #d8d8d8;
  border-radius: 0.4rem;
}

.radiobox--full {
  width: 100%;
  max-width: 100%;
}

.radiobox input {
  position: absolute;
  left: -9999px;
}

.radiobox input + label {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  width: 50%;
  min-height: 4rem;
  margin: 0;
  padding: 1rem 1.8rem;
  font-weight: normal;
  text-align: center;
  transition: all 0.05s ease-in;
}

.radiobox label:last-child {
  border-radius: 0 0.2rem 0.2rem 0;
}

.radiobox input:first-child + label {
  border-radius: 0.2rem 0 0 0.2rem;
}

/* Checked state */
.radiobox input:checked + label {
  color: #fff;
  background-color: #3498db;
}

/* Focus state */
.radiobox input:focus + label {
  box-shadow: 0 0 0 0.3rem rgba(33, 133, 208, 0.5);
}

.radiobox:active,
.radiobox:focus-within {
  box-shadow: 0 0 0 0.3rem rgba(33, 133, 208, 0.5);
}

.radiobox:focus-within input:focus + label {
  box-shadow: none;
}

/**
* Button Module
* namespace : .btn
*/
.btn {
  display: inline-block;
  padding: 0.8em 1.6em;
  color: #fff;
  line-height: normal;
  text-align: center;
  text-decoration: none !important;
  vertical-align: middle;
  background-color: #3498db;
  border: none;
  border-radius: 0.2rem;
  box-shadow: none;
  cursor: pointer;
  transition: background-color 0.4s;
}

.btn:active,
.btn:focus {
  outline: none;
  box-shadow: 0 0 0 0.3rem rgba(33, 133, 208, 0.5);
}

/* colors
-------------------------------------------------------------- */
.btn--primary,
.btn--primary:link,
.btn--primary:visited {
  color: #fff;
  background-color: #3498db;
}

.btn--primary:hover,
.btn--primary:active,
.btn--primary:focus {
  background-color: #258cd1;
}

.btn--secondary,
.btn--secondary:link,
.btn--secondary:visited {
  color: #fff;
  background-color: #1abc9c;
}

.btn--secondary:hover,
.btn--secondary:active,
.btn--secondary:focus {
  background-color: #17a689;
}

.btn--danger,
.btn--danger:link,
.btn--danger:visited {
  color: #fff;
  background-color: #c53a3a;
}

.btn--danger:hover,
.btn--danger:active,
.btn--danger:focus {
  background-color: #b13434;
}

/* size
-------------------------------------------------------------- */
.btn--big {
  font-size: 18;
}

/**
 * Pagination Module
 * namespace : .pagination
 */
.pagination {
  display: inline-block;
  margin: 2rem 0;
  border-radius: 0.4rem;
}

.pagination,
.pagination li {
  margin: 0;
  padding: 0;
}

.pagination li {
  display: inline-block;
  margin: 0 0.3rem 1em;
  list-style-type: none;
}

.pagination li a,
.pagination li > span {
  padding: 0.3em 0.6em;
  border: 0.1rem solid #808080;
  border-radius: 0.2rem;
}

.pagination li a:hover {
  color: #1abc9c;
}

.pagination li.current a {
  color: #fff;
  background-color: #3498db;
}

/**
 * Table Module
 * namespace : .table
 */
.table {
  width: 100%;
  max-width: 100%;
  table-layout: fixed;
  border: 0.1rem solid #cbcbcb;
  border-collapse: collapse;
  border-spacing: 0;
}

.table caption {
  padding: 1em 0;
  color: #000;
  font: italic 85%/1 'arial', sans-serif;
  text-align: center;
}

.table td,
.table th {
  margin: 0;
  padding: 0.5em 1em;
  overflow: hidden;
  font-size: inherit;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-wrap: break-word;
  border-width: 0 0 0 0.1rem;
  border-left: 0.1rem solid #cbcbcb;
}

.table td:first-child,
.table th:first-child {
  border-left-width: 0;
}

.table thead {
  color: #000;
  text-align: left;
  vertical-align: bottom;
  background: #e0e0e0;
}

/**
 * Tooltip Module
 * namespace : .tooltip
 */
.tooltip {
  position: relative;
  cursor: help;
}

.tooltip::after {
  font-family: 'helvetica', 'arial', sans-serif;
}

.tooltip:hover::after {
  position: absolute;
  bottom: 1.35em;
  left: 1em;
  padding: 0.5em 1em;
  color: #fff;
  white-space: nowrap;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 0.5em;
  content: attr(data-tooltip);
}

.tooltip:hover::before {
  position: absolute;
  bottom: 1em;
  left: 2em;
  display: block;
  border: solid;
  border-color: rgba(0, 0, 0, 0.8) transparent;
  border-width: 0.4em 0.4em 0 0.4em;
  content: '';
}

/**
 * Notification module
 * Namespace : .notif
 */
.notif {
  padding: 1em;
  border-radius: 4px;
}

.notif--success {
  color: #fff;
  background-color: #00d1b2;
}

.notif--warning {
  color: #444;
  background-color: #ffdd57;
}

.notif--error {
  color: #fff;
  background-color: #ff3860;
}

/**
 * Some grid examples
 */
.grid-1 {
  margin-bottom: -2rem;
  margin-left: 0;
}

.grid-1 > *:nth-child(n) {
  width: 100%;
  margin-bottom: 2rem;
  margin-left: 0;
}

.grid-2 {
  margin-bottom: -2rem;
  /* avoid unwanted margin on last line */
  margin-left: -2rem;
}

.grid-2 > *:nth-child(n) {
  width: calc(100% * 1 / 2 - 2rem - 0.01px);
  margin-bottom: 2rem;
  margin-left: 2rem;
}

.grid-3 {
  margin-bottom: -2rem;
  /* avoid unwanted margin on last line */
  margin-left: -2rem;
}

.grid-3 > *:nth-child(n) {
  width: calc(100% * 1 / 3 - 2rem - 0.01px);
  margin-bottom: 2rem;
  margin-left: 2rem;
}

.grid-4 {
  margin-bottom: -2rem;
  /* avoid unwanted margin on last line */
  margin-left: -2rem;
}

.grid-4 > *:nth-child(n) {
  width: calc(100% * 1 / 4 - 2rem - 0.01px);
  margin-bottom: 2rem;
  margin-left: 2rem;
}

.grid-2-noGutter {
  margin-bottom: 0;
}

.grid-2-noGutter > *:nth-child(n) {
  width: calc(100% * 1 / 2 - 0.01px);
  margin-bottom: 0;
}

.grid-1-3 > * {
  margin-bottom: 2rem;
}

.grid-1-3 > *:nth-child(odd) {
  width: calc(25% - 1rem - 0.01px);
}

.grid-1-3 > *:nth-child(even) {
  width: calc(75% - 1rem - 0.01px);
  margin-left: 2rem;
}

@media (max-width: 480px) {
  .grid-1-xs {
    margin-bottom: -2rem;
    margin-left: 0;
  }
  .grid-1-xs > *:nth-child(n) {
    width: 100%;
    margin-bottom: 2rem;
    margin-left: 0;
  }
  .grid-2-xs {
    margin-bottom: -2rem;
    /* avoid unwanted margin on last line */
    margin-left: -2rem;
  }
  .grid-2-xs > *:nth-child(n) {
    width: calc(100% * 1 / 2 - 2rem - 0.01px);
    margin-bottom: 2rem;
    margin-left: 2rem;
  }
}

body {
  color: #000;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  background-color: #fff;
}

.container {
  max-width: 102.4rem;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1rem;
  padding-left: 1rem;
}

/* titles
-------------------------------------------------------------- */
h1 {
  margin-bottom: 0.42em;
  font-size: 5rem;
  line-height: 1.26;
}

h2 {
  margin-bottom: 0.95455em;
  font-size: 2.2rem;
  line-height: 1.90909;
}

h3 {
  margin-bottom: 1.16667em;
  font-size: 1.8rem;
  line-height: 1.16667;
}

h4 {
  margin-bottom: 1.3125em;
  font-size: 1.6rem;
  line-height: 1.3125;
}

/* links
-------------------------------------------------------------- */
a,
a:visited {
  color: #3498db;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:focus {
  border-radius: 0.3rem;
  outline: none;
  box-shadow: 0 0 0 0.3rem rgba(33, 133, 208, 0.5);
}

/* lists
-------------------------------------------------------------- */
ul {
  padding-left: 2rem;
  list-style-type: disc;
}

/* divers
-------------------------------------------------------------- */
hr {
  display: block;
  height: 0.1rem;
  margin: 1em 0;
  padding: 0;
  border: 0;
  border-top: 0.1rem solid #ccc;
}

.footer {
  padding: 2rem 0;
}

.footer ul,
.footer li {
  margin: 0;
  padding: 0;
}

.footer a,
.footer a:hover,
.footer a:visited {
  color: #3498db;
}

/*
  Tips: load vendor from your package manager and override CSS here (e.g. o-vendor-name.scss)
  In this context, "o" means "override" and you can use it as a convention.
*/
