/* grids
-------------------------------------------------------------- */
/* ----------------------------------------------------------- */
/* == reset */
/* ----------------------------------------------------------- */
html {
  box-sizing: border-box;
}
*,
*:after,
*:before {
  box-sizing: inherit;
}
body {
  margin: 0;
}
img,
table,
td,
blockquote,
code,
pre,
textarea,
input,
video {
  max-width: 100%;
}
img {
  border: 0;
  vertical-align: middle;
}
img:not([src$=".svg"]) {
  height: auto;
}
/* fix for IE */
img[src$=".svg"] {
  width: 100%;
}
button,
input,
select,
textarea {
  font: inherit;
}
/* ----------------------------------------------------------- */
/* == typography */
/* ----------------------------------------------------------- */
html {
  font-size: 62.5%;
  /* IE9-11 calculation fix */
  font-size: calc(0.625em);
}
body {
  font-size: 1.4em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5;
}
p,
ul,
ol,
dl,
blockquote,
pre,
td,
th,
label,
textarea,
caption {
  margin: 0 0 1.5em 0;
}
/* ----------------------------------------------------------- */
/* == helpers */
/* ----------------------------------------------------------- */
/* screen readers
-------------------------------------------------------------- */
/* Hide only visually, but have it available for screen readers (from HTML5 Boilerplate) */
.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  border: 0;
}
.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  position: static;
  overflow: visible;
  clip: auto;
  margin: 0;
  width: auto;
  height: auto;
}
/* states
-------------------------------------------------------------- */
.is-disabled {
  cursor: not-allowed;
}
/* ----------------------------------------------------------- */
/* == layout */
/* ----------------------------------------------------------- */
/* BFC to the rescue */
.mod {
  overflow: hidden;
}
.clear,
.line,
.row {
  clear: both;
}
/* blocks that must contain floats */
.clearfix:after,
.line:after,
.mod:after {
  display: table;
  clear: both;
  content: "";
}
.inbl {
  display: inline-block;
}
/* table layout
-------------------------------------------------------------- */
.row {
  display: table;
  width: 100%;
  table-layout: fixed;
}
.row > *,
.col {
  display: table-cell;
}
[class*="grid-"] {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: stretch;
  align-items: stretch;
}
[class*="grid-"] > * {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  display: block;
  /* IE fix */
}
/* vertical align
-------------------------------------------------------------- */
[class*="grid-top"] {
  -ms-flex-align: start;
  align-items: flex-start;
}
[class*="grid-bottom"] {
  -ms-flex-align: end;
  align-items: flex-end;
}
[class*="grid-center"] {
  -ms-flex-align: center;
  align-items: center;
}
/* helpers
-------------------------------------------------------------- */
[class*="grid-"].grid-noMargin > * {
  margin-bottom: 0;
}
/* ----------------------------------------------------------- */
/* == rwd */
/* ----------------------------------------------------------- */
/* responsive iframe http://www.smashingmagazine.com/2014/02/27/making-embedded-content-work-in-responsive-design/ */
.responsive-iframe {
  position: relative;
  overflow: hidden;
  padding-top: 30px;
  padding-bottom: 56.25%;
  height: 0;
}
.responsive-iframe iframe,
.responsive-iframe object,
.responsive-iframe embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* utilities
-------------------------------------------------------------- */
.hidden {
  display: none;
}
@media (min-width: 1281px) {
  [class*="-l+"][class*="hidden-"]:not([class*="up"]) {
    display: none !important;
  }
}
@media (min-width: 961px) and (max-width: 1280px) {
  [class*="-l"][class*="hidden-"]:not([class*="up"]) {
    display: none !important;
  }
}
@media (min-width: 769px) and (max-width: 960px) {
  [class*="-m"][class*="hidden-"]:not([class*="up"]) {
    display: none !important;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  [class*="-s"][class*="hidden-"]:not([class*="up"]) {
    display: none !important;
  }
}
@media (max-width: 480px) {
  [class*="-xs"][class*="hidden-"]:not([class*="up"]) {
    display: none !important;
  }
}
@media (min-width: 768px) {
  .hidden-s-up {
    display: none !important;
  }
}
@media (min-width: 480px) {
  .hidden-xs-up {
    display: none !important;
  }
}
/* xsmall
-------------------------------------------------------------- */
@media (max-width: 480px) {
  .mod,
  .col {
    display: block !important;
    float: none !important;
    width: auto !important;
  }
}
/* ----------------------------------------------------------- */
/* == debug */
/* ----------------------------------------------------------- */
/*
 * Generates a random color
 *
 */
/*
 * Easily debug an element
 *
 */
/*
 * Display grid for vertical rhythm
 *
 */
.debug-rythm {
  background: linear-gradient(to bottom, #ba9b9a 0.1em, transparent 0.1em) !important;
  background-size: 100% 1.5em !important;
}
/* ----------------------------------------------------------- */
/* == alignment */
/* ----------------------------------------------------------- */
/* block
-------------------------------------------------------------- */
.left {
  float: left;
}
.right {
  float: right;
}
.center {
  margin-right: auto;
  margin-left: auto;
}
/* text/inline
-------------------------------------------------------------- */
.txtright {
  text-align: right;
}
.txtcenter {
  text-align: center;
}
.txtleft {
  text-align: left;
}
.vtop {
  vertical-align: top;
}
.vbottom {
  vertical-align: bottom;
}
.vmiddle {
  vertical-align: middle;
}
/* ----------------------------------------------------------- */
/* == colors */
/* ----------------------------------------------------------- */
.color-primary {
  color: #3498db;
}
.color-secondary {
  color: #1abc9c;
}
/* ----------------------------------------------------------- */
/* == spacings */
/* ----------------------------------------------------------- */
.ma0 {
  margin: 0;
}
.pa0 {
  padding: 0;
}
.ma1 {
  margin: 10px;
}
.ma2 {
  margin: 20px;
}
.ma3 {
  margin: 30px;
}
.pa1 {
  padding: 10px;
}
.pa2 {
  padding: 20px;
}
.pa3 {
  padding: 30px;
}
.mt0 {
  margin-top: 0;
}
.mt1 {
  margin-top: 10px;
}
.mt2 {
  margin-top: 20px;
}
.mt3 {
  margin-top: 30px;
}
.mr0 {
  margin-right: 0;
}
.mr1 {
  margin-right: 10px;
}
.mr2 {
  margin-right: 20px;
}
.mr3 {
  margin-right: 30px;
}
.mb0 {
  margin-bottom: 0;
}
.mb1 {
  margin-bottom: 10px;
}
.mb2 {
  margin-bottom: 20px;
}
.mb3 {
  margin-bottom: 30px;
}
.ml0 {
  margin-left: 0;
}
.ml1 {
  margin-left: 10px;
}
.ml2 {
  margin-left: 20px;
}
.ml3 {
  margin-left: 30px;
}
.pt0 {
  padding-top: 0;
}
.pt1 {
  padding-top: 10px;
}
.pt2 {
  padding-top: 20px;
}
.pt3 {
  padding-top: 30px;
}
.pr0 {
  padding-right: 0;
}
.pr1 {
  padding-right: 10px;
}
.pr2 {
  padding-right: 20px;
}
.pr3 {
  padding-right: 30px;
}
.pb0 {
  padding-bottom: 0;
}
.pb1 {
  padding-bottom: 10px;
}
.pb2 {
  padding-bottom: 20px;
}
.pb3 {
  padding-bottom: 30px;
}
.pl0 {
  padding-left: 0;
}
.pl1 {
  padding-left: 10px;
}
.pl2 {
  padding-left: 20px;
}
.pl3 {
  padding-left: 30px;
}
/* ----------------------------------------------------------- */
/* == text */
/* ----------------------------------------------------------- */
.bold {
  font-weight: bold;
}
.italic {
  font-style: italic;
}
/* font size
-------------------------------------------------------------- */
.txtsmaller {
  /*font-size: unit(@font-size / @bf, em);*/
  font-size: 1rem;
  line-height: 2.1;
  margin-bottom: 2.1em;
}
.txtsmall {
  /*font-size: unit(@font-size / @bf, em);*/
  font-size: 1.2rem;
  line-height: 1.75;
  margin-bottom: 1.75em;
}
.txtbig {
  /*font-size: unit(@font-size / @bf, em);*/
  font-size: 1.6rem;
  line-height: 1.3125;
  margin-bottom: 1.3125em;
}
.txtbigger {
  /*font-size: unit(@font-size / @bf, em);*/
  font-size: 1.8rem;
  line-height: 1.16666667;
  margin-bottom: 1.16666667em;
}
/* transformations
-------------------------------------------------------------- */
.uppercase {
  text-transform: uppercase;
}
.capitalize {
  text-transform: capitalize;
}
.lowercase {
  text-transform: lowercase;
}
/* ----------------------------------------------------------- */
/* == width */
/* ----------------------------------------------------------- */
.w10 {
  width: 10%;
}
.w20 {
  width: 20%;
}
.w25 {
  width: 25%;
}
.w30 {
  width: 30%;
}
.w33 {
  width: 33.3333%;
}
.w40 {
  width: 40%;
}
.w50 {
  width: 50%;
}
.w60 {
  width: 60%;
}
.w66 {
  width: 66.6666%;
}
.w70 {
  width: 70%;
}
.w75 {
  width: 75%;
}
.w80 {
  width: 80%;
}
.w90 {
  width: 90%;
}
.w100 {
  width: 100%;
}
/**
 * Form Module
 * Namespace : .form
 */
/* ----------------------------------------------------------- */
/* == configuration */
/* ----------------------------------------------------------- */
/* ----------------------------------------------------------- */
/* == module */
/* ----------------------------------------------------------- */
/* placeholders
-------------------------------------------------------------- */
input::-webkit-input-placeholder {
  color: #c4c1be;
}
input:-moz-placeholder {
  color: #c4c1be;
}
textarea::-webkit-input-placeholder {
  color: #c4c1be;
}
textarea:-moz-placeholder {
  color: #c4c1be;
}
/* block form
-------------------------------------------------------------- */
label,
.label {
  display: block;
  margin-top: 1.3em;
  margin-bottom: .8em;
  vertical-align: middle;
  cursor: pointer;
}
/* inline form
-------------------------------------------------------------- */
.f-inline label,
.f-inline .label {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
}
.f-inline {
  display: inline-block;
}
.f-inline input,
.f-inline .btn {
  height: 40px;
}
.f-inline .btn {
  vertical-align: middle;
}
/* basics style
-------------------------------------------------------------- */
fieldset {
  margin: 25px 0;
  padding: 1em;
  border: 1px solid #d8d8d8;
}
input,
select,
label,
.label {
  vertical-align: middle;
}
select {
  margin: 0;
  border: 1px solid #ccc;
  background-color: #fff;
}
textarea {
  padding: .4em;
  min-width: 320px;
  min-height: 8em;
  vertical-align: top;
  resize: vertical;
}
input {
  margin: 0;
  padding: .6em .6em;
  width: 320px;
  border: 1px solid #d8d8d8;
  border-radius: 0px;
  background: #fff;
  box-shadow: inset 0 1px 3px #f6f6f6;
}
input[type="radio"] + label,
input[type="checkbox"] + label {
  display: inline-block;
  margin-right: 10px;
  vertical-align: baseline;
}
input[type="radio"],
input[type="checkbox"] {
  padding: 0;
  width: inherit;
}
/* grid (grid module is required)
-------------------------------------------------------------- */
[class^="grid"] > input,
[class^="grid"] > textarea,
[class^="grid"] > div > input,
[class^="grid"] > div > textarea {
  width: 100%;
}
/* width
-------------------------------------------------------------- */
.f-10 {
  min-width: 80px;
  width: 10%;
}
.f-25 {
  width: 25%;
}
.f-50 {
  width: 50%;
}
.f-75 {
  width: 75%;
}
.f-100 {
  width: 100%;
}
/* errors
-------------------------------------------------------------- */
.f-required {
  color: red;
  font-weight: bold;
}
.f-error {
  margin-top: 20px;
  padding: 5px 10px;
  border-left: 5px solid #efd8d7;
  background-color: #fbf4f4;
}
.f-error input {
  border: 1px solid red;
}
.f-error-message {
  padding-top: 4px;
  color: #d2918e;
}
/**
* Buttons Module
* namespace : .btn
*/
/* ----------------------------------------------------------- */
/* == configuration */
/* ----------------------------------------------------------- */
/* ----------------------------------------------------------- */
/* == module */
/* ----------------------------------------------------------- */
.btn,
button {
  vertical-align: middle;
}
.btn,
button,
input[type="submit"] {
  display: inline-block;
  margin: 0;
  padding: 1rem 2rem;
  border: none;
  border-radius: 2px;
  background-color: #3498db;
  box-shadow: none;
  color: #fff;
  text-align: center;
  text-decoration: none !important;
  line-height: normal;
  cursor: pointer;
  transition: background-color 0.4s;
}
/* colors
-------------------------------------------------------------- */
.btn--primary,
.btn--primary:link,
.btn--primary:visited {
  background-color: #3498db;
  color: #fff;
}
.btn--primary:hover,
.btn--primary:active,
.btn--primary:focus {
  background-color: #258cd1;
}
.btn--secondary,
.btn--secondary:link,
.btn--secondary:visited {
  background-color: #1abc9c;
  color: #fff;
}
.btn--secondary:hover,
.btn--secondary:active,
.btn--secondary:focus {
  background-color: #17a689;
}
.btn--danger,
.btn--danger:link,
.btn--danger:visited {
  background-color: #c53a3a;
  color: #fff;
}
.btn--danger:hover,
.btn--danger:active,
.btn--danger:focus {
  background-color: #b13434;
}
/* size
-------------------------------------------------------------- */
.btn--big {
  font-size: 18;
}
/**
 * Pagination Module
 * namespace : .pagination
 */
/* ----------------------------------------------------------- */
/* == configuration */
/* ----------------------------------------------------------- */
/* ----------------------------------------------------------- */
/* == module */
/* ----------------------------------------------------------- */
.pagination {
  display: inline-block;
  margin: 20px 0;
  border-radius: 4px;
}
.pagination,
.pagination li {
  margin: 0;
  padding: 0;
}
.pagination li {
  display: inline-block;
  margin: 0 3px 1em;
  list-style-type: none;
}
.pagination li a,
.pagination li > span {
  padding: .3em .6em;
  border: 1px solid grey;
  border-radius: 2px;
}
.pagination li a:hover {
  color: #1abc9c;
}
.pagination li.current a {
  background-color: #3498db;
  color: #fff;
}
/**
 * Table Module
 * namespace : .table
 */
/* ----------------------------------------------------------- */
/* == configuration */
/* ----------------------------------------------------------- */
/* ----------------------------------------------------------- */
/* == module */
/* ----------------------------------------------------------- */
table {
  max-width: 100%;
  width: 100%;
  border: 1px solid #cbcbcb;
  border-spacing: 0;
  border-collapse: collapse /* remove spacing between table cells */;
  table-layout: fixed /* http://css-tricks.com/fixing-tables-long-strings */;
}
table caption {
  padding: 1em 0;
  color: #000;
  text-align: center;
  font: italic 85%/1 arial, sans-serif;
}
table td,
table th {
  overflow: hidden;
  margin: 0;
  padding: .5em 1em;
  border-width: 0 0 0 1px;
  border-left: 1px solid #cbcbcb;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: break-word;
  font-size: inherit;
}
table td:first-child,
table th:first-child {
  border-left-width: 0;
}
table thead {
  background: #e0e0e0;
  color: #000;
  vertical-align: bottom;
  text-align: left;
}
/**
 * Tooltip Module
 * namespace : .tooltip
 */
/* ----------------------------------------------------------- */
/* == configuration */
/* ----------------------------------------------------------- */
/* ----------------------------------------------------------- */
/* == module */
/* ----------------------------------------------------------- */
.tooltip {
  position: relative;
  cursor: help;
}
.tooltip:after {
  font-family: helvetica, arial, sans-serif;
}
.tooltip:hover:after {
  position: absolute;
  bottom: 1.35em;
  left: 1em;
  padding: .5em 1em;
  border-radius: 0.5em;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  content: attr(data-tooltip);
  white-space: nowrap;
}
.tooltip:hover:before {
  position: absolute;
  bottom: 1em;
  left: 2em;
  display: block;
  border: solid;
  border-width: .4em .4em 0 .4em;
  border-color: rgba(0, 0, 0, 0.8) transparent;
  content: "";
}
/* ----------------------------------------------------------- */
/* == fonts */
/* ----------------------------------------------------------- */
/* ----------------------------------------------------------- */
/* == grids */
/* ----------------------------------------------------------- */
.grid-1 {
  margin-left: 0;
  margin-bottom: -2rem;
}
.grid-1 > *:nth-child(n) {
  width: 100%;
  margin-left: 0;
  margin-bottom: 2rem;
}
.grid-2 {
  margin-left: -2rem;
  margin-bottom: -2rem;
  /* avoid unwanted margin on last line */
}
.grid-2 > *:nth-child(n) {
  width: calc(100% * 1 / 2 - 2rem - .01px);
  margin-left: 2rem;
  margin-bottom: 2rem;
}
.grid-2-noGutter {
  margin-left: 0;
  margin-bottom: 0;
  /* avoid unwanted margin on last line */
}
.grid-2-noGutter > *:nth-child(n) {
  width: calc(100% * 1 / 2 - 0 - .01px);
  margin-left: 0;
  margin-bottom: 0;
}
.grid-2-noGutter > *:nth-child(n) {
  width: calc(100% * 1 / 2);
}
.grid-3 {
  margin-left: -2rem;
  margin-bottom: -2rem;
  /* avoid unwanted margin on last line */
}
.grid-3 > *:nth-child(n) {
  width: calc(100% * 1 / 3 - 2rem - .01px);
  margin-left: 2rem;
  margin-bottom: 2rem;
}
.grid-4 {
  margin-left: -2rem;
  margin-bottom: -2rem;
  /* avoid unwanted margin on last line */
}
.grid-4 > *:nth-child(n) {
  width: calc(100% * 1 / 4 - 2rem - .01px);
  margin-left: 2rem;
  margin-bottom: 2rem;
}
.grid-1-3 > *:nth-child(odd) {
  width: calc(25% - 1rem - .01px);
}
.grid-1-3 > *:nth-child(even) {
  width: calc(75% - 1rem - .01px);
  margin-left: 2rem;
}
@media (max-width: 480px) {
  .grid-1-xs {
    margin-left: 0;
    margin-bottom: -2rem;
  }
  .grid-1-xs > *:nth-child(n) {
    width: 100%;
    margin-left: 0;
    margin-bottom: 2rem;
  }
  .grid-2-xs {
    margin-left: -2rem;
    margin-bottom: -2rem;
    /* avoid unwanted margin on last line */
  }
  .grid-2-xs > *:nth-child(n) {
    width: calc(100% * 1 / 2 - 2rem - .01px);
    margin-left: 2rem;
    margin-bottom: 2rem;
  }
}
/* ----------------------------------------------------------- */
/* == main */
/* ----------------------------------------------------------- */
body {
  background-color: #fff;
  color: #000;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding: 0 10px;
  max-width: 1024px;
}
/* titles
-------------------------------------------------------------- */
h1 {
  /*font-size: unit(@font-size / @bf, em);*/
  font-size: 2.6rem;
  line-height: 1.61538462;
  margin-bottom: 0.80769231em;
}
h2 {
  /*font-size: unit(@font-size / @bf, em);*/
  font-size: 2.2rem;
  line-height: 1.90909091;
  margin-bottom: 0.95454545em;
}
h3 {
  /*font-size: unit(@font-size / @bf, em);*/
  font-size: 1.8rem;
  line-height: 1.16666667;
  margin-bottom: 1.16666667em;
}
h4 {
  /*font-size: unit(@font-size / @bf, em);*/
  font-size: 1.6rem;
  line-height: 1.3125;
  margin-bottom: 1.3125em;
}
/* links
-------------------------------------------------------------- */
a {
  color: #3498db;
}
a:hover,
a:visited,
a:focus {
  color: #5faee3;
}
/* lists
-------------------------------------------------------------- */
ul {
  padding-left: 2rem;
  list-style-type: circle;
}
/* divers
-------------------------------------------------------------- */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}
/* ----------------------------------------------------------- */
/* == header */
/* ----------------------------------------------------------- */
.header ul,
.header li {
  margin: 0;
  padding: 0;
}
.header a,
.header a:visited,
.header a:hover {
  color: #3498db;
}
/* ----------------------------------------------------------- */
/* == content */
/* ----------------------------------------------------------- */
/* ----------------------------------------------------------- */
/* == footer */
/* ----------------------------------------------------------- */
.footer {
  padding: 20px 0;
}
.footer ul,
.footer li {
  margin: 0;
  padding: 0;
}
.footer a,
.footer a:hover,
.footer a:visited {
  color: #3498db;
}
/* ----------------------------------------------------------- */
/* == navigation */
/* ----------------------------------------------------------- */
.navigation ul {
  padding-left: 0;
}
.navigation li {
  display: inline-block;
  margin: 10px 0;
}
.navigation li a {
  display: inline-block;
  padding: 10px 5px;
}
/* ----------------------------------------------------------- */
/* == rwd -> large */
/* ----------------------------------------------------------- */
/* ----------------------------------------------------------- */
/* == rwd -> meidum */
/* ----------------------------------------------------------- */
/* ----------------------------------------------------------- */
/* == rwd -> small */
/* ----------------------------------------------------------- */
/* ----------------------------------------------------------- */
/* == rwd -> xsmall */
/* ----------------------------------------------------------- */
/* ----------------------------------------------------------- */
/* == rwd */
/* ----------------------------------------------------------- */
