---
layout: default
---

<section class="docs">
    <div class="content">
        <div class="unit four-fifths">
            <article>
                <h1>{{ page.title }}</h1>
                {{ content }}
            </article>
        </div>
    </div>

    <nav class="sub-navigation docs_sub-navigation">
        <h4>Débuter sur Higgcss</h4>
        <ul>
            <li><a href="">Installation</a></li>
            <li><a href="">Structure</a></li>
            <li><a href="">Configuration</a></li>
            <li><a href="">Couleurs</a></li>
            <li><a href="">Workflow</a></li>
        </ul>

        <h4>Base</h4>
        <ul>
            <li><a href="">Mixins</a></li>
            <li><a href="">Reset</a></li>
            <li><a href="">Typogaphie</a></li>
            <li><a href="">Positionnement</a></li>
            <li><a href="">Grids</a></li>
            <li><a href="">Helpers</a></li>
            <li><a href="">Espacements</a></li>
            <li><a href="">Taille</a></li>
            <li><a href="">Responsive</a></li>
            <li><a href="">Debug</a></li>
        </ul>


        <h4>Modules</h4>
        <ul>
            <li><a href="">Bouttons</a></li>
            <li><a href="">Formulaires</a></li>
            <li><a href="">Pagination</a></li>
            <li><a href="">Tableaux</a></li>
            <li><a href="">Tooltips</a></li>
        </ul>

    </nav>
</section>

</section>